/* common front style add */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.t-primary {
  color: #fd6e0a;
}
.p-btn {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}
/* header styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.nav-title {
  color: black;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: baseline;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* head style */

.head {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 450px;
}
.banner-wel {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
banner-name {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}
/* main section*/
main {
  max-width: 1140px;
  margin: 0px auto;
}
main section {
  margin-top: 130px;
}
/* about in main */
.about {
  padding: 130px;
  background-color: #fff8f3;
  margin: 130px 0px;
}
.section-name {
  color: #181818;
  text-align: center;
  font-size: 35 px;
  font-weight: 700;
}
.about-infobox {
  display: flex;
  justify-content: space-around;
}
.aboutinfo {
  text-align: center;
}
/* what i do section */
.what-ido-descrip {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.3);
}

/* resume style */
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-part-descripton,
.resume-institute {
  color: #757575;
}
.resume-institute {
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-part-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.download-button {
  text-align: center;
  margin-top: 50px;
}
